/* @import "./node_modules/nes.css/css/nes.css"; */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Unica+One&display=swap');

body {
  margin: 0;
  font-family: 'Bungee', cursive;
  font-size: x-large;
  background-color: black;
}

#drum-machine {
  text-align: center;
  width: 45vw;
  height: 40vh;
  background: rgb(66, 66, 66);
  color: white;
  border-radius: 0.3em;
  padding: 0.8em;
  padding-top: 0.1em;
  padding-bottom: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-right: 3mm solid #303030;
  border-bottom: 3mm solid #1f1f1f;
  border-top: 3mm solid #515151;
  border-left: 3mm solid #373737;
  box-shadow: 1px 2px 5px 3px #141414;
}

h6 {
  margin: 0;
  text-align: end;
  color: #111111;
  text-shadow: 1px 1px rgb(54, 54, 54);
}

.working-area {
  display: flex;
  justify-content: space-between;
  height: 90%;
}

.display-with-range {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#display {
  height: 65%;
  background-color: rgb(25, 25, 25);
  position: relative;
  border-radius: 0.1em;
  border-right: 1mm solid #303030;
  border-bottom: 1mm solid #333333;
  border-top: 1mm solid #101010;
  border-left: 1mm solid #1c1c1c;
  box-shadow: 1px 2px 5px 3px #3a3a3a;
}

.display-inner-text {
  position: absolute;
  text-align: start;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5em;
  color: rgb(195, 255, 0);
  text-shadow: 2px 2px rgb(93, 0, 0);
}

.drum-pads {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1%;
}

.drum-pad {
  box-shadow: 4px 4px 5px 3px #272727;
  color:  rgb(19, 19, 19);
  background-color: #515151;
}

.drum-pad:hover {
  opacity: 0.9;
}

.small-text {
  font-size: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.p {
  margin: 0;
  color: #000000;
}

.warning {
  color: red;
}

.press-space-text {
  margin: 0;
  color: rgb(195, 255, 0);
  text-shadow: 2px 2px rgb(93, 0, 0);
}

/* FROM W3 SCHOOL */
.slider {
  appearance: none;
  width: 100%;
  height: 25%;
  background-color: rgb(0, 0, 0);
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 0.1em;
  border-top: 1mm solid #020202;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(25, 25, 25);
  box-shadow: 2px 2px 2px #000000;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: rgb(25, 25, 25);
  box-shadow: 2px 2px 2px #000000;
}

@media screen and (max-width: 912px) {
  #drum-machine {
    width: 90vw;
  }
}
@media screen and (max-width: 280px) {
 
}